Package: com.turann.randy420.appfetch
Name: appfetch
Architecture: iphoneos-arm
Description: nscake+
Depiction: https://Randy-420.GitHub.io/depic/appfetch.html
Depends: curl, jq, wget
Homepage: https://theemeraldisle.family
Maintainer: Turann and Randy420 <randy.skinner@hotmail.com>
Author: Turann and Randy420 <randy.skinner@hotmail.com>
Section: System
Tag: role::hacker
Version: 0.5
